::-webkit-scrollbar {
  display: none;
}
.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
#imgBG {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  object-fit: cover;
}
.down {
  display: block;
  font-size: 20px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 10%;
  font-weight: 500;
  animation: ani 1s infinite alternate;
}

@keyframes ani {
  0% {
    transform: scale(0.75);
    opacity: 0.7;
    color: #fff;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    color: #888;
  }
}

.down::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px 0 0 55px;
  background: url(../../images/scrollDownBtn.png) center center no-repeat;
}

.loading {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 20;
  transform: translateX(-30%);
}
.loading span {
  display: block; /* span 내부요소들을 한줄로 세우기 */
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%; /* span을 동그랗게 */
  animation: loading 1s 0s linear infinite;
  /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  margin-bottom: 5px;
}
.loading span:nth-child(1) {
  /*loading의 자식 중 첫번째 span*/
  /*nth-child : 형제 사이에서의 순서*/
  animation-delay: 0s;
  background-color: #fff;
}
.loading span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #fff;
}
.loading span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #fff;
}
@keyframes loading {
  /*loading이라는 keyframe 애니메이션*/
  0%,
  100% {
    /* 0, 50, 100은 구간*/
    opacity: 0; /* 안보였다가 */
    transform: scale(
      0.5
    ); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/
  }
  50% {
    opacity: 1; /* 보였다가 */
    transform: scale(1.2); /* 1.2배 */
  }
}

/* text effect */
.deconstructed {
  position: absolute;
  margin: 0 auto;
  color: transparent;
  font-family: "Helvetica", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: -200%;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #8d2626 0,
    #f3d25d 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #fde306 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

#content {
  width: 100%;
}
#content .trailerCont {
  padding: 5%;
  background: rgba(113, 0, 0,.8);
  text-align: center;
  position: relative;
}
#content .trailerCont h3 {
  color: #fde306;
  font-size: 2.7777rem;
}
#content .trailerCont .trailerPara {
  width: 90%;
  margin: 0 auto;
}
#content .trailerCont .trailerPara p {
  color: #fff;
  font-size: 1.125rem;
  line-height: 2em;
  margin: 1.5rem 0;
}
/* tabCont */
#content .tabCont {
  padding: 5% 10% 0 10%;
  background: rgba(0, 0, 0, .8);
}
#content .tabCont .tabTop {
  display: flow-root;
  position: relative;
}
#content .tabCont .tabTop .gifZone {
  display: block;
  width: 50%;
  height: 100%;
  background: url(../images/gif1.gif) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
#content .tabCont .tabTop .tabRight {
  width: 45%;
  float: right;
}
#content .tabCont .tabTop .tabRight::after {
  content: '';
  display: block;
  clear: both;
}
#content .tabCont .tabTop .tabRight h3 {
  color: #fde306;
  font-size: 2.7777rem;
}
#content .tabCont .tabTop .tabRight p {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin: 1.5rem 0;
}
#content .tabCont .tabTop .tabRight ul {
  display: flex;
  justify-content: start;
  gap: 35px;
  width: 100%;
}
#content .tabCont .tabTop .tabRight ul li {
  width: 20%;
  overflow: hidden;
  border-radius: 20px;
  background: -webkit-linear-gradient(-45deg, #fde306 59%, #ffb96d 100%);
  box-sizing: border-box;
}
#content .tabCont .tabTop .tabRight ul li a {
  display: block;
  color: #333;
  font-weight: 700;
  font-size: 1.1vw;
  text-align: center;
  padding: .5rem 0;
  line-height: 20px;
}
#content .tabCont .tabBottom {
  text-align: center;
  padding-bottom: 66%;
  padding-top: 30px; 
  height: 0; 
  /* overflow: hidden; */
  position: relative;
  margin-top: 15%;
}
#content .tabCont .tabBottom p {
  margin-bottom: 5%;
  color: #fde306;
  font-size: 1.4rem;
  position: absolute;
  z-index: 99;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
#content .tabCont .tabBottom iframe,
#content .tabCont .tabBottom object,
#content .tabCont .tabBottom embed {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform: translateX(-50%);
}

@media screen and (max-width:1280px) {
  #content .tabCont .tabBottom p {
    top: -10%;
  }
}
@media screen and (max-width:1024px) {
  #content .tabCont .tabTop .gifZone {
    display: none;
  }
  #content .tabCont .tabTop .tabRight {
    width: 100%;
    float: none;
  }
  #content .tabCont .tabTop .tabRight h3 {
    text-align: center;
  }
  #content .tabCont .tabTop .tabRight p {
    line-height: 1.85rem;
    text-align: center;
  }
  #content .tabCont .tabTop .tabRight ul {
    justify-content: center;
  }
  #content .tabCont .tabTop .tabRight ul li a {
    font-size: 1.5vw;
  }
  #content .tabCont .tabBottom {
    margin-top: 20%;
    padding-bottom: 65%;
  }
  #content .tabCont .tabBottom p {
    top: -15%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width:768px) {
  .deconstructed {
    font-size: 8rem;
  }
  #content .trailerCont .trailerPara p {
    text-align: justify;
  }
  #content .tabCont .tabTop .tabRight p {
    font-size: 1rem;
    /* line-height: 1.85rem; */
    text-align: justify;
  }
  #content .tabCont .tabTop .tabRight ul {
    flex-wrap: wrap;
    gap: 25px 100px;
  }
  #content .tabCont .tabTop .tabRight ul li {
    width: 30%;
  }
  #content .tabCont .tabTop .tabRight ul li a {
    font-size: 2vw;
  }
  #content .tabCont .tabBottom p {
    width: 80%;
    font-size: 1rem;
    top: -15%;
  }
}

@media screen and (max-width:640px) {
  .deconstructed {
    font-size: 7rem;
  }
  #content .tabCont .tabBottom p {
    width: 90%;
    font-size: 1rem;
    top: -13%;
  }
  #content .tabCont .tabBottom iframe, #content .tabCont .tabBottom object, #content .tabCont .tabBottom embed {
    width: 90%;
  }
  #content .tabCont .tabBottom {
    padding-bottom: 70%;
  }
}

@media screen and (max-width:480px) {
  .deconstructed {
    font-size: 5rem;
  }
  #content .trailerCont {
    padding: 8%;
  }
  #content .trailerCont .trailerPara {
    width: auto;
    margin: 0;
  }
  #content .tabCont {
    padding: 8% 8% 0 8%;;
  }
  #content .tabCont .tabTop .tabRight ul {
    gap: 25px 60px;
  }
  #content .tabCont .tabTop .tabRight ul li a {
    font-size: .8rem;
  }
  #content .tabCont .tabBottom {
    margin-top: 35%;
  }
  #content .tabCont .tabBottom p {
    top: -35%;
  }
}
@media screen and (max-width:390px) {
  .deconstructed {
    font-size: 4rem;
  }
}