::-webkit-scrollbar {
  display: none;
}
.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
#imgBG {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  object-fit: cover;
}
.down {
  display: block;
  font-size: 20px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 10%;
  font-weight: 500;
  animation: ani 1s infinite alternate;
}

@keyframes ani {
  0% {
    transform: scale(0.75);
    opacity: 0.7;
    color: #fff;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    color: #888;
  }
}

.down::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px 0 0 55px;
  background: url(../../images/scrollDownBtn.png) center center no-repeat;
}

.loading {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 20;
  transform: translateX(-30%);
}
.loading span {
  display: block; /* span 내부요소들을 한줄로 세우기 */
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%; /* span을 동그랗게 */
  animation: loading 1s 0s linear infinite;
  /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  margin-bottom: 5px;
}
.loading span:nth-child(1) {
  /*loading의 자식 중 첫번째 span*/
  /*nth-child : 형제 사이에서의 순서*/
  animation-delay: 0s;
  background-color: #fff;
}
.loading span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #fff;
}
.loading span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #fff;
}
@keyframes loading {
  /*loading이라는 keyframe 애니메이션*/
  0%,
  100% {
    /* 0, 50, 100은 구간*/
    opacity: 0; /* 안보였다가 */
    transform: scale(
      0.5
    ); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/
  }
  50% {
    opacity: 1; /* 보였다가 */
    transform: scale(1.2); /* 1.2배 */
  }
}

/* text effect */
.deconstructed {
  position: absolute;
  margin: 0 auto;
  color: transparent;
  font-family: "Helvetica", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: -200%;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #8d2626 0,
    #f3d25d 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #fde306 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

#content {
  width: 100%;
  position: relative;
}
#content .galleryMain {
  background: rgba(113, 0, 0, 1);
  padding: 5% 5%;
  text-align: center;
}
#content .galleryMain h3 {
  color: #fde306;
  font-size: 2.7777rem;
}
#content .galleryMain p {
  color: #fff;
  font-size: 1.125rem;
  line-height: 2em;
  margin: 1.5rem 0 0 0;
}
#content .galleryCont {
  /* background: linear-gradient(transparent, black 10% 80%, transparent); */
  background: rgba(0, 0, 0, .8);
  padding: 5% 5% 10% 5%;
}
#content .galleryList {
  column-count: 6;
  column-gap: 10px;
}
#content .galleryList > div {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  /* border-radius: 15px; */
  position: relative;
  overflow: hidden;
  filter: saturate(70%);
  transition: .2s ease-in-out all;
}
#content .galleryList > div:hover::before {
  box-shadow:none;
}
#content .galleryList > div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 25px rgb(253 140 6);
  background: rgba(114,0,0,.8);
  transition: .2s ease-in-out all;
}
#content .galleryList > div img {
  display: block;
  width: 100%;
  transition: .2s ease-in-out all;
  clip-path: polygon(50% 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 20%);
}
#content .galleryList > div p {
  position: absolute;
  bottom: 5px;
  color: white;
  left: 10%;
  top: 1%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}
@media screen and (max-width: 1280px){
  #content .galleryList {
    column-count: 5;
  }
}
@media screen and (max-width: 1024px){
  #content .galleryMain {
    text-align: justify;
  }
  #content .galleryList {
    column-count: 4;
  }
}
@media screen and (max-width: 768px){
  .deconstructed {
    font-size: 8rem;
  }
  #content .galleryMain {
    padding: 7% 10%;
  }
  #content .galleryCont {
    padding: 10%;
  }
  #content .galleryList {
    column-count: 3;
  }
}
@media screen and (max-width: 640px){
  .deconstructed {
    font-size: 7rem;
  }
  #content .galleryList {
    column-count: 2;
  }
}
@media screen and (max-width:480px) {
  .deconstructed {
    font-size: 5rem;
  }
  #content .galleryMain {
    padding: 8%;
  }
  #content .galleryCont {
    padding: 8%;
  }
}
@media screen and (max-width:390px) {
  .deconstructed {
    font-size: 4rem;
  }
}