@charset "utf-8";
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none;}
body {
 color:#333;
 font-size:14px;
 font-family:"Noto Sans KR"; }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 border-radius:1px;}
textarea { resize:none; }
label { cursor:pointer; }
.hidden,#skipNav{display: block; position: absolute; left:-1000%;top:0; width: 1px; height: 1px; overflow: hidden; color: #fff}


/* 전체 공통 */
#wrap{ width:100%; position: relative;  overflow:hidden;}

/* 헤더공통 */
#headerArea {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    transition: background .5s;
    padding: 0 5%;
    box-sizing: border-box;
}
#headerArea .headerInner {
    /* display: flex;
    justify-content: space-between; */
    /* padding-top: 7%; */
    position: relative;
}
#headerArea .headerInner::after {
    content: '';
    display: block;
    clear: both;
}
#headerArea .headerInner h1 a {
    float: left;
    display: block;
    width: 191px;
    height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    color: #fff;
    background: url(../../images/logo_whitex1.png) 0 no-repeat;
    background-size: 100% auto;
}
/* 클래스 추가 */
#headerArea.on {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
#headerArea.on .headerInner h1 a {
    background-image: url(../../images/logo_colorx1.png);
}
#headerArea.on .headerInner .gnbOpenBtn span,
#headerArea.on .headerInner .gnbOpenBtn span::before,
#headerArea.on .headerInner .gnbOpenBtn span::after {
    background: #333;
}


#headerArea .headerInner .gnbOpenBtn {
    display: block;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    right: 0;
    top: 19px;
    padding: 10px 0;
}
#headerArea .headerInner .gnbOpenBtn span {
    width: 20px;
    height: 3px;
    background: #fff;
    position: relative;
    text-indent: -9999px;
    display: block;
    transition: all .3s;
}
#headerArea .headerInner .gnbOpenBtn span::before {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -7px;
    left: 0;
    transition: all .3s;
}
#headerArea .headerInner .gnbOpenBtn span::after {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 0;
    transition: all .3s;
}

/* 메뉴가 열렸을때 */
#headerArea.mn_open .headerInner .gnbOpenBtn span, 
#headerArea.mn_open .headerInner .gnbOpenBtn span::before, 
#headerArea.mn_open .headerInner .gnbOpenBtn span::after {
    background: #333;
}
#headerArea.mn_open .headerInner .gnbOpenBtn span {
    background: rgba(0,0,0,0);
}
#headerArea.mn_open .headerInner .gnbOpenBtn span::before {
    transform: rotate(45deg);
    top: 0;
}
#headerArea.mn_open .headerInner .gnbOpenBtn span::after {
    transform: rotate(-45deg);
    top: 0;
}

/* nav */
#gnb {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 99;
    background: #fff;
}
#gnb .navTop {
    position: relative;
    padding: 23px 5% 0 5%;
    display: flex;
    justify-content: space-between;
}
#gnb .homeBtn {
    display: block;
    width: 191px;
    height: 15px;
    text-indent: -9999px;
    overflow: hidden;
    color: #fff;
    background: url(../../images/logo_colorx1.png) 0 no-repeat;
    background-size: 100% auto;
}
#gnb .navBottom > ul {
    display: flex;
    padding: 5% 0 5% 11%;
}
#gnb .navBottom > ul li {
    margin-right: 30px;
}
#gnb .navBottom > ul li a {
    font-weight: 700;
    font-size: 1em;
    color: #555;
}
#gnb > ul {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}
#gnb > ul li h3 a {
    display: block;
    font-size: 1.575em;
    font-weight: 700;
    padding: 10px 0 10px 11%;
}
#gnb > ul li h3 a span {
    font-size: .88em;
    margin-left: 53%;
    padding-bottom: 10px;
}
#gnb > ul li ul {
    display: flex;
    flex-direction: column;
    display: none;
    overflow: hidden;
}
#gnb > ul li ul li {
    width: 100%;
    background: #f1f1f1;
}
#gnb > ul li ul li a {
    display: block;
    font-weight: 500;
    font-size: 1.145em;
    color: #555;
    padding: 10px 0 10px 11%;
    border-bottom: 1px solid #fff;
}
#gnb .nav_sns {
    display: flex;
    padding-left: 11%;
    padding-top: 10px;
}
#gnb .nav_sns a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #555;
    margin-right: 20px;
    color: #fff;
    position: relative;
}
#gnb .nav_sns a i {
    position: absolute;
    left: 9px;
    top: 7px;
}
#gnb .nav_sns a:nth-child(3) i {
    left: 11px;
}

/* 푸터공통 */
#footerArea {
    background: #e5e5e5;
    padding: 8% 5% 15.5% 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
#footerArea .footerTop {
    display: flex;
    justify-content: space-between;
}
#footerArea .footerTop .footerLogo {
    display: block;
    width: 180px;
    height: 15px;
    text-indent: -9999px;
    overflow: hidden;
    color: #fff;
    background: url(../../images/logo_colorx1.png) 0 no-repeat;
    background-size: 100% auto;
}
#footerArea .footerTop .sns {
    display: flex;
    column-gap: 10px;
}
#footerArea .footerTop .sns li {
    width: 33.33%;
}
#footerArea .footerTop .sns li a {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #555 no-repeat 50% 50%;
    font-size: 0.857em;
    color: #fff;
    position: relative;
    letter-spacing: -0.025rem;
}
#footerArea .footerTop .sns li a i {
    display: block;
    position: absolute;
    left: 31%;
    top: 25%;
}
#footerArea .footerTop .sns li:last-child a i {
    left: 35.5%;
}
#footerArea .identity {
    overflow: hidden;
    padding-top: 15px;
}
#footerArea .identity li {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}
#footerArea .identity li a {
    font-size: 0.857em;
}
#footerArea address {   
    padding-top: 10px;
}
#footerArea address span {
    display: block;
    font-size: 0.857em;
}
#footerArea address span:nth-child(1){
    margin-bottom: 10px;
}
#footerArea .familysite {
    background: #ccc;
    margin-top: 10px;
    position: relative;
}
#footerArea .familysite a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-weight: 500;
    position: relative;
}
#footerArea .familysite a span {
    display: block;
    position: absolute;
    right: 15px;
    top: 3px;
}
#footerArea .familysite ul {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    display: none;
  }
  #footerArea .familysite ul a {
    display: block;
    background: #f5f5f5;
    color: #555;
    font-weight: 500;
    transition: all 0.5s ease-out;
  }
  #footerArea .topMove {
    display: block;
    background: url(../../images/topmovex2.jpg) 0 no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    overflow: hidden;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
  }
/* scroll */
  .topMoveOn {
    animation: topMoveOn .5s forwards;
  }
  @keyframes topMoveOn {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }