/* 기업개요 본문영역 */
#content {
  width: 1200px;
  margin: 0 auto;
}
#content .titleArea {
  text-align: center;
}
#content .titleArea .lineMap {
  margin: 40px 0 0 950px;
}
#content .lineMap span a {
  color: #666;
}
#content .lineMap span:nth-of-type(3) a {
  font-weight: 500;
  color: #333;
}
#content .titleArea h2 {
  font-size: 3.125em;
  margin: 100px 0;
  position: relative;
}
#content .titleArea h2::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: -130%;
  background: #999;
}
#content .intro {
  padding-top: 25px;
  font-size: 1.5em;
  text-align: center;
}
#content .blue {
  color: #0081cc;
}

/* 본문 */
.com_wrap {
  margin: 100px 0;
}
.com_sort {
  display: flex;
}
.com_sort .total {line-height: 44px; font-size: 1.1em;}

.com_sort .list_style {
  display: flex;
  padding-left: 753px;
  box-sizing: border-box;
}
.com_sort .list_style li {
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
  color: #fff;
  transition: all .3s;
  margin-right: .5px;
}
.com_sort .list_style li a {
  display: block;
  width: 44px;
  height: 42px;
  opacity: .3;
}
.com_sort .list_style li.active a{
  opacity: 1;
}
.com_sort .list_style li:nth-child(1) a {
 background: url(../images/content3/lst_style1.png) 50% 50% no-repeat;
}
.com_sort .list_style li:nth-child(2) a {
  background: url(../images/content3/lst_style2.png) 50% 50% no-repeat;
}
.com_sort .list_style li:nth-child(1).active a{
  background-image: url(../images/content3/lst_style1_on.png);
}
.com_sort .list_style li:nth-child(2).active a{
  background-image: url(../images/content3/lst_style2_on.png);
}
.com_sort .list_style li:hover {
  background: #f5f5f5;
}
.com_sort .scale {
  width: 120px;
  height: 44px;
  padding-left: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.1em;
  vertical-align: top;
  outline: 0;
  margin-left: 10px;
  cursor: pointer;
  transition: all .3s;
}
.com_sort .scale:hover {
  background: #f5f5f5;
}

.com_list{
  margin: 30px 0;
}
.com_list .list_title {
  display: flex;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #666;
  font-weight: 500;
}
.com_list .title1, .title2, .title3, .title4, .title5{
 text-align: center; padding: 20px 10px; box-sizing: border-box;
} 
.com_list .title1 {width: 7%;}
.com_list .title2 {width: 66%; text-align: left;}
.com_list .list_title .title2 {text-align: center;}
.com_list .title3 {width: 10%;}
.com_list .title4 {width: 10%;}
.com_list .title5 {width: 7%;}

.com_list .list_cont li {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.com_wrap .page_num {
  text-align: center;
}
.com_wrap .page_num span.active{background: #0081cc; color: #fff;}
.com_wrap .page_num span {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #888;
  /* text-align: center; */
  box-sizing: border-box;
  vertical-align: top;
  font-size: 1em;
}
.com_wrap .page_num .prev {
  background: url(../images/content3/page_prev.png) 50% 50% no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  color: #fff;
}
.com_wrap .page_num .next {
  background: url(../images/content3/page_next.png) 50% 50% no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  color: #fff;
}

.com_wrap .btn_wrap {
  text-align: right;
}
.com_wrap .btn_wrap a {
  display: inline-block;
  height: 44px;
  line-height: 42px;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
  background: transparent;
  color: #0081cc;
  border: 1px solid #ddd;
  transition: all .3s;
  font-size: 1em;
}
.com_wrap .btn_wrap a:hover {background: #f5f5f5;}

.com_wrap .btn_wrap2 {
  display: inline-block;
  padding-left: 1017px;
}
.com_wrap .btn_wrap2 a {
  display: inline-block;
  height: 44px;
  line-height: 42px;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
  background: transparent;
  color: #0081cc;
  border: 1px solid #ddd;
  transition: all .3s;
  font-size: 1em;
}
.com_wrap .btn_wrap2 a:hover {background: #f5f5f5;}

.com_wrap .btn_wrap_save {
  display: inline-block;
  padding-left: 1017px;
}
.com_wrap .btn_wrap_save input {
  display: inline-block;
  height: 44px;
  line-height: 43px;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
  background: transparent;
  color: #0081cc;
  border: 1px solid #ddd;
  transition: all .3s;
  font-size: 1em;
}
.com_wrap .btn_wrap_save input:hover {background: #f5f5f5;}

.com_wrap .btn_wrap_save2 {
  display: inline-block;
  padding-left: 1030px;
  margin-top: 20px;
}
.com_wrap .btn_wrap_save2 input {
  display: inline-block;
  height: 44px;
  line-height: 43px;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
  background: transparent;
  color: #0081cc;
  border: 1px solid #ddd;
  transition: all .3s;
  font-size: 1em;
}
.com_wrap .btn_wrap_save2 input:hover {background: #f5f5f5;}

.com_search {
  background: #f7f7f7;
  margin: 30px 0 0 0;
  text-align: center;
  padding: 25px 0;
}
.com_search select {
  width: 120px;
  height: 44px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1.1em;
  vertical-align: bottom;
  outline: 0;
  cursor: pointer;
  transition: all .3s;
}
.com_search select:hover {background: #f5f5f5;}

.com_search input {
  width: 250px;
  height: 44px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1.1em;
  color: #333;
}
.com_search button {
  width: 80px;
  height: 44px;
  background: #0081cc;
  color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 44px;
  cursor: pointer;
  transition: all .3s;
}

/* write_form2 */
/* form {width: 80%; margin: 0 auto;} */
/* #write_row1 {border: 2px solid #0081cc; background: #f9f9f9;} */
.nickForm {background: #f2f2f2; border-bottom: 1px solid #ddd; border-top: 1px solid #666; font-weight: 500;}
.nickForm span {font-size: 1.5rem; display: inline-block; margin: 20px;}
/* .htmlCheck {border-bottom: 1px solid #ccc;} */
.htmlCheck input {margin: 20px; margin-right: 10px; width: 20px; height: 20px; margin-bottom: 0;}
.htmlCheck span {display: inline-block; vertical-align:top; padding-top: 17px;}
.subject1 {font-size: 1.5rem; margin: 20px; margin-bottom: 0;}
.subject2 {border-bottom: 1px solid #ddd;}
.subject2 input {margin: 20px; width: 96%; height: 40px; outline: 1px solid #ccc; border: 0; font-size: 1.25rem; padding-left: .8rem;}
.content1 {font-size: 1.5rem; margin: 20px; margin-bottom: 0;}
.content2 {border-bottom: 1px solid #ddd;}
.content2 textarea {margin: 20px; width: 96%; outline: 1px solid #ccc; border: 0; font-size: 1.25rem; font-weight: 400; font-family: "Noto Sans KR"; padding-left: .8rem;}


/* view.php */
#view_title1 {
  display: flex;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #666;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px 20px;
}
#view_title2 {
  display: flex;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px 20px;
}
#view_content {
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}