/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-text-size-adjust: none;
}
html {
  font-size: 16px;
}
body {
  font-family: "Helvetica";
  font-size: 16px;
  color: #333;
  background: #333;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
dl {
  list-style: none;
}
img,
video {
  border: 0;
  vertical-align: top;
}
a,
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
label {
  cursor: pointer;
}
.blind,
legend,
hr,
caption {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}
i,
em,
address {
  font-style: normal;
  font-weight: normal;
}
p,
li,
dd {
  line-height: 1.5em;
}
.hidden,
#skipNav {
  display: block;
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* 헤더 공통 영역 */
#wrap {
  width: 100%;
  overflow: hidden;
}

#headerArea {
  position: fixed;
  z-index: 100;
  height: 110px;
  transition: all 0.3s;
  background: rgba(141, 0, 0, 0);
  left: 0;
  top: 0;
  width: 100%;
}
#headerArea .headerInner {
  width: 95%;
  margin: 0 2.5%;
  transition: all 0.3s;
  overflow: hidden;
}
#headerArea h1 {
  float: left;
  margin-top: 15px;
}
#headerArea h1 a {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 114px;
  height: 50px;
  text-indent: -999px;
  overflow: hidden;
  background: url(../images/logo_white.png) 0 no-repeat;
  background-size: 100% auto;
  transition: all 0.3s;
}
#headerArea h1 a:hover {
  background-image: url(../images/logo_color.png);
}
#headerArea #gnb {
  float: right;
  margin-top: 28px;
}
#headerArea #gnb ul {
  overflow: hidden;
}
#headerArea #gnb ul li {
  float: left;
  margin-left: 50px;
}
#headerArea #gnb ul li.current a {
  color: rgb(253, 227, 6);
  font-weight: 500;
}
#headerArea #gnb ul li.current a::after {
  content: "";
  display: block;
  width: 103%;
  height: 2px;
  background: rgb(253, 227, 6);
  transform: scaleX(1);
  transition: all 0.3s;
}
#headerArea #gnb ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1.563rem;
  color: #fff;
  transition: all 0.3s;
}
#headerArea #gnb ul li a:hover {
  color: rgb(253, 227, 6);
  font-weight: 500;
  /* text-decoration: underline; */
}
#headerArea #gnb ul li a::after {
  content: "";
  display: block;
  width: 103%;
  height: 2px;
  background: rgb(253, 227, 6);
  transform: scaleX(0);
  transition: all 0.3s;
}
#headerArea #gnb ul li a:hover::after {
  transform: scaleX(1);
}

/* on 클래스 추가 */
#headerArea.on {
  background: rgba(113, 0, 0, 1);
  height: 80px;
}
#headerArea.on .headerInner {
  padding-top: 0;
}
#headerArea.on h1 a {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 114px;
  height: 50px;
  text-indent: -999px;
  overflow: hidden;
  /* background: url(../images/logo_color.png) 0 no-repeat;
  background-size: 100% auto; */
}
#headerArea.on #gnb ul li a {
  /* color: rgb(253, 227, 6); */
  font-weight: 700;
}
/* #headerArea.on .headerInner .gnbOpenBtn span,
#headerArea.on .headerInner .gnbOpenBtn span::before,
#headerArea.on .headerInner .gnbOpenBtn span::after {
  background: rgb(253, 227, 6);
} */

#headerArea .headerInner .gnbOpenBtn {
  display: block;
  position: absolute;
  border-radius: 5px;
  z-index: 100;
  right: 5%;
  top: 30px;
  padding: 10px 0;
}
#headerArea .headerInner .gnbOpenBtn span {
  width: 30px;
  height: 3px;
  /* background: rgb(253, 227, 6); */
  background: #fff;
  position: relative;
  text-indent: -9999px;
  display: block;
  transition: all 0.2s;
  border-radius: 20px;
}
#headerArea .headerInner .gnbOpenBtn span::before {
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  /* background: rgb(253, 227, 6); */
  background: #fff;
  position: absolute;
  top: -9px;
  left: 0;
  transition: all 0.2s;
  border-radius: 20px;
}
#headerArea .headerInner .gnbOpenBtn span::after {
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  /* background: rgb(253, 227, 6); */
  background: #fff;
  position: absolute;
  top: 9px;
  left: 0;
  transition: all 0.2s;
  border-radius: 20px;
}

/* 메뉴가 열렸을때 */
#headerArea.mn_open .headerInner .gnbOpenBtn span,
#headerArea.mn_open .headerInner .gnbOpenBtn span::before,
#headerArea.mn_open .headerInner .gnbOpenBtn span::after {
  background: rgb(253, 227, 6);
}
#headerArea.mn_open .headerInner .gnbOpenBtn span {
  background: rgba(253, 227, 6, 1);
}
#headerArea.mn_open .headerInner .gnbOpenBtn span::before {
  transform: rotate(45deg);
  left: 17px;
  top: -5px;
  width: 15px;
}
#headerArea.mn_open .headerInner .gnbOpenBtn span::after {
  transform: rotate(-45deg);
  left: 17px;
  top: 5px;
  width: 15px;
}

/* 푸터 공통 영역 */
#footerArea {
  background: rgba(113, 0, 0, 1);
  position: relative;
  width: 95%;
  padding: 15px 2.5%;
  z-index: 100;
}
#footerArea p {
  color: #fff;
  font-size: 0.94vw;
}
#footerArea .footerRight {
  position: absolute;
  right: 2.5%;
  bottom: 30%;
}
#footerArea .footerRight a {
  margin-left: 20px;
  font-size: 0.94vw;
}
#footerArea .topMove {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  color: #fff;
  background: rgba(113, 0, 0, 1);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-indent: -999px;
  overflow: hidden;
  transform: translate(-50%, 0);
}
#footerArea .topMove span {
  display: block;
  width: 7px;
  height: 44px;
  background: url(../images/topMove.png) center center no-repeat;
  position: relative;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
}

/* wide pc */

@media screen and (max-width: 1024px) {
  #footerArea .footerRight {
    bottom: 25%;
  }
  #footerArea .topMove {
    bottom: 35%;
  }
}
@media screen and (min-width: 769px) {
  #headerArea .headerInner {
    padding-top: 15px;
  }
  #headerArea .headerInner .gnbOpenBtn {
    display: none;
  }
}

/* 소형 테블릿 */
@media screen and (max-width: 768px) {
  #headerArea {
    /* background: rgba(141, 0, 0, 0.8); */
    height: 80px;
  }
  #headerArea .headerInner {
    width: 90%;
    margin: 0 5%;
  }
  #headerArea.on {
    height: 80px;
  }
  #headerArea h1 a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 114px;
    height: 50px;
    text-indent: -999px;
    overflow: hidden;
    /* background: url(../images/logo_color.png) 0 no-repeat; */
    /* background-size: 100% auto; */
    transition: all 0.3s;
  }
  #headerArea #gnb {
    background: rgba(113, 0, 0, 1);
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 15% 10%;
    box-sizing: border-box;
  }
  #headerArea #gnb ul li {
    float: none;
    margin-left: 0;
  }
  
  #headerArea #gnb ul li a {
    color: rgb(253, 227, 6);
    font-size: 1.75em;
    font-weight: 700;
    line-height: 5rem;
  }
  #headerArea.on #gnb ul li a,
  #headerArea #gnb ul li.current a,
  #headerArea.on #gnb ul li.current a {
    font-weight: 700;
  }
  #headerArea #gnb ul li.current a::after {
    display: none;
  }
  #footerArea .footerRight {
    bottom: 20%;
  }
  #headerArea #gnb ul li a::after {
    display: none;
  }
}

/* 모바일 */
@media screen and (max-width: 640px) {
  #footerArea .footerRight {
    bottom: 18%;
  }
  #footerArea .topMove {
    bottom: 25%;
  }
}

/* 최소 사이즈 처리 */
@media screen and (max-width: 480px) {
  #wrap {
    min-width: 320px;
  }
  
  #footerArea p,
  #footerArea .footerRight a {
    font-size: .75rem;
  }
  #footerArea .footerRight {
    display: flex;
    bottom: 35%;
  }
  #footerArea .footerRight a:nth-child(1) {
    margin-left: 0;
  }
}
